
.registering{
    background-color: white;
}
.inputspace{
    width:100%;
    Border: 1px solid;
}
.registering .row{
    margin-top:10px;
}
.registering .mdl-button{
    margin-bottom: 10px;
    margin-top:30px;
}
.mainbody{
    margin-top:10%;
}