$background_color_1: white;
$background_color_2: #ededed;
$background_color_3: #fbfcdb;



#Messagetxt{
	width:90%;
	margin-left:5%;
	margin-top:30px;
	background-color: $background_color_3;
}

strong{
	color:#224070;
	font-size:18px;
}
span{
	margin-left:5px;
	color:black;
}
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 6px;
	margin: 10px 15%;
	width:80%
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}
.inputspace{
	margin-left:2%;
	border-color:gray
}
.inputchatbox{
	position: fixed;
    bottom: 0px;
    text-align: left;
    background: white;
	vertical-align: middle;
	max-height: 150px;margin-left:5%;
}
.inputchatbox div{
	padding-bottom: 8px;
}
.messagelsit {
	position: fixed;
    top: 10px;
    bottom: 78px;
	overflow-y: scroll;
	max-height: 100%;
}